* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f9ff;
    color: #1f2937;
    font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    overflow-x: hidden;
}

.page-particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.particle {
    position: absolute;
    color: rgba(102, 126, 234, 0.15);
    font-size: 1.5rem;
    animation: drift 20s infinite linear;
}

@keyframes drift {
    0% {
        transform: translateY(100vh) rotate(0deg);
    }

    100% {
        transform: translateY(-100px) rotate(360deg);
    }
}



.particle:nth-child(1) {
    left: 5%;
    animation-delay: 0s;
    animation-duration: 15s;
}

.particle:nth-child(2) {
    left: 15%;
    animation-delay: 3s;
    animation-duration: 18s;
}

.particle:nth-child(3) {
    left: 25%;
    animation-delay: 1s;
    animation-duration: 22s;
}

.particle:nth-child(4) {
    left: 35%;
    animation-delay: 5s;
    animation-duration: 16s;
}

.particle:nth-child(5) {
    left: 45%;
    animation-delay: 2s;
    animation-duration: 20s;
}

.particle:nth-child(6) {
    left: 55%;
    animation-delay: 4s;
    animation-duration: 19s;
}

.particle:nth-child(7) {
    left: 65%;
    animation-delay: 6s;
    animation-duration: 17s;
}

.particle:nth-child(8) {
    left: 75%;
    animation-delay: 1.5s;
    animation-duration: 21s;
}

.particle:nth-child(9) {
    left: 85%;
    animation-delay: 3.5s;
    animation-duration: 16s;
}

.particle:nth-child(10) {
    left: 95%;
    animation-delay: 5.5s;
    animation-duration: 18s;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}